.ax_default {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
}
.heading_1 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.keyboard_text_color {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#36464F;
  text-align:center;
}
.heading_2 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.flow_shape {
}
.text_field {
  color:#000000;
  text-align:left;
}
.android_label {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#303030;
  text-align:left;
}
.android_leftsubtext {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
  text-align:left;
}
.paragraph1 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.materialicons {
  font-family:'Material Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
.paragraph2 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.line {
}
.box_1 {
}
.horizontal_line {
}
.box_2 {
}
.menu_item {
}
.image {
}
.keyboard_small_numbers {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#899893;
  text-align:center;
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.ellipse {
}
.label {
  font-size:14px;
  text-align:left;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.html_button {
  text-align:center;
}
.snapshot {
}
.arrow {
}
.box_3 {
}
.shape1 {
}
.heading_11 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.label1 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.primary_text_dark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.flat_button {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.raised_button {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.box_11 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.box_21 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
.ellipse1 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
.image1 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
.divider {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.258823529411765);
}
.icon {
}
.olofmemark {
}
.olofmesinglemark {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.button_normal_seconday {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  color:#FFFFFF;
}
.button_pressed {
  color:#76A9E0;
}
.image2 {
  color:#000000;
}
